<div id="<%= dom_id lawsuit %>">
  <p>
    <strong>Lawsuit number:</strong>
    <%= lawsuit.lawsuit_number %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= lawsuit.collection %>
  </p>

  <p>
    <strong>Deadline days:</strong>
    <%= lawsuit.deadline_days %>
  </p>

  <p>
    <strong>Aware date:</strong>
    <%= lawsuit.aware_date %>
  </p>

  <p>
    <strong>Deadline date:</strong>
    <%= lawsuit.deadline_date %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= lawsuit.done %>
  </p>

</div>
