<p style="color: green"><%= notice %></p>
<section>
  <table class="table is-fullwidth is-centered is-striped">
    <thead>
    <tr>
      <th>Processo</th>
      <th>Acervo</th>
      <th>Prazo</th>
      <th>Ciência</th>
      <th>Prazo Final</th>
      <th>Feito?</th>
    </tr>
    </thead>
    <tbody>
    <% @lawsuits.each do |lawsuit| %>
      <tr>
        <td><%= link_to lawsuit.lawsuit_number, lawsuit %></td>
        <td><%= lawsuit.collection %></td>
        <td><%= lawsuit.deadline_days %></td>
        <td><%= lawsuit.aware_date.strftime("%d/%m/%Y") %></td>
        <td><%= lawsuit.deadline_date.strftime("%d/%m/%Y") %></td>
        <td>
          <% if lawsuit.done %>
            <span class="icon has-text-info">
              <i class="fas fa-check"></i>
            </span>
          <% else %>
            <span class="icon has-text-danger">
              <i class="fas fa-times"></i>
            </span>
          <% end %>
        </td>
      </tr>
      </tbody>
    <% end %>
    </table>

<%= link_to "Adicionar Processo", new_lawsuit_path, class: 'button is-info' %>
</section>